@using ExpanseTracker.Data
@using ExpanseTracker.Data.Models
@using ExpanseTracker.Services;
@inject ExpenseService EService;
@inject CategoryService CService;
@inject NavigationManager NavMag;

<table>
    <tr>
        <td>Title</td>
        <td><input type="text" placeholder="@NExp.Title" @bind="NExp.Title"></td>
    </tr>
    <tr>
        <td>Date</td>
        <td><input type="date" placeholder="@NExp.Date" @bind="NExp.Date"></td>
    </tr>
    <tr>
        <td>Amount</td>
        <td><input type="double" placeholder="@NExp.Amount" @bind="NExp.Amount"></td>
    </tr>
    <tr>
        <td>Planned</td>
        <td><input type="checkbox" placeholder="@NExp.Planned" @bind="NExp.Planned"></td>
    </tr>
    <tr>
        <td align="justify">Category</td>
        <td>
            <InputSelect id="Category" @bind-Value="@NExp.CategoryId">
                @foreach(var cat in Cats)
                {
                    <option value="@cat.Id">@cat.Name</option>
                }
            </InputSelect>
        </td>
    </tr>
</table>

<!--<button @onclick="addupdate">Save</button>-->

@code {
    [Parameter]
    public Expense? Exp{ get; set; }
    public List<Category> Cats = new List<Category>();
    public Expense NExp = new();
    public int New_id = 1;
    public string operation = "not yet decided";

    public void setCat(int id)
    {
        NExp.CategoryId = id;
    }
    private int get_new_id()
    {
        return New_id++;
    }

    private void loadDefault()
    {
        Cats = CService.getCategories();
        var query = EService._context.Expenses.Max(c => c.Id);
        New_id = query + 1;
    }
    protected override void OnInitialized() //process to run when page is loaded
    {
        NExp = Exp;
        NExp.Date = DateTime.UtcNow;
        loadDefault();
    }
}
