@page "/incomes"
@using ExpanseTracker.Data
@using ExpanseTracker.Data.Models
@using ExpanseTracker.Services;
@inject IncomeService IService;
@inject NavigationManager NavManager;

<h3>Incomes</h3>

<table>
    <tr>
        <td><input type="date" placeholder="From" @bind="SDate"></td>
        <td><input type="date" placeholder="Until" @bind="EDate"></td>
    </tr>
</table>

<!--<table>
    @foreach(var inc in Incs)
    {
        <tr>
            <td>@inc.Id</td>
            <td>@inc.Title</td>
            <td>@inc.Date.ToString("dd-MM-yyyy")</td>
            <td>@inc.Amount $</td>
            <td>@inc.Type</td>
            <td><button @onclick="()=>remove_inc(inc)">Delete</button></td>
            <td><button @onclick="()=>goToEdit(inc.Id)">Edit</button></td>
        </tr>
    }
</table>-->
<IncomeDisplayForm StartDate="SDate" EndDate="EDate"></IncomeDisplayForm>
<button @onclick="goToAdd">Add Income</button>

<h5>@SDate</h5>
<h5>@EDate</h5>

@code {
    private List<Income> Incs = new List<Income>();
    private int New_id = 1;
    public DateTime? EDate=null, SDate=null;
    private int get_new_id() => New_id++;

    public void goToEdit(int id)
    {
        NavManager.NavigateTo("/editincome/" + id);
    }

    public void goToAdd()
    {
        NavManager.NavigateTo("/incomes/new");
    }
    public void remove_inc(Income todo)
    {
        Incs.Remove(todo);
        IService.removeIncome(todo);
    }
    
    private void loadDefault()
    {
        Incs = IService.getIncomes().OrderBy(e => e.Id).ToList();
        var query = IService._context.Expenses.Max(c => c.Id);
        New_id = query + 1;
    }

    protected override async Task OnInitializedAsync() //process to run when page is loaded
    {
        loadDefault();
    }
}
